/* .home {
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  background-image: url('/hanson-lu--Avc2AiE1_Q-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.img {
  width: 100%;
  height: 741px;
}
